<div class="content">
    <button (click)="dialog.classList.remove('d-none'); deactivateScroll()">Create Note</button>

    <div #dialog class="dialogbg d-none">
        <div class="dialogcontent">
            <input [(ngModel)]="noteheadline" type="text" placeholder="Enter a title">
            <textarea [(ngModel)]="notetext" placeholder="Enter a description"></textarea>
            <div class="btn-container"><button (click)="clearInput()">Clear</button><button
                    (click)="addNote()">Add</button></div>
            <div #closeicon class="close pointer" (click)="dialog.classList.add('d-none'); backToList()">Close</div>
        </div>
    </div>


    <ng-container class="d-none" *ngFor="let note of notes$ | async;">
        <!-- Only to show active notes -->
        <div class="notecontainer" *ngIf="selection === 'main' && !note['deleted'] && !note['archived']">
            <div (click)="renderEditForm(note['id'])">
                <div class="noteheadline">{{ note['title'] }}</div>
                <div class="notedescription">{{ note['description'] }}</div>
            </div>
            <div class="notebottom">
                <div class="noteactionbar">
                    <div (click)="renderEditForm(note['id'])"><img src="/assets/img/edit.png"></div>
                    <div (click)="archiveNote(note['id'])"><img src="/assets/img/archive.png"></div>
                    <div (click)="moveToTrash(note['id'])"><img src="/assets/img/trash.png"></div>
                </div>
                <div class="noteidentifier">{{ note['id'] }}</div>
            </div>
        </div>

        <!-- Only to show archived notes -->
        <div class="notecontainer" *ngIf="selection === 'archive' && note['archived']">
            <div (click)="renderEditForm(note['id'])">
                <div class="noteheadline">{{ note['title'] }}</div>
                <div class="notedescription">{{ note['description'] }}</div>
            </div>
            <div class="notebottom">
                <div class="noteactionbar">
                    <div (click)="renderEditForm(note['id'])"><img src="/assets/img/edit.png"></div>
                    <div (click)="archiveNote(note['id'])"><img src="/assets/img/archive.png"></div>
                    <div (click)="moveToTrash(note['id'])"><img src="/assets/img/trash.png"></div>
                </div>
                <div class="noteidentifier">Archived</div>
                <div class="noteidentifier">{{ note['id'] }}</div>
            </div>
        </div>

        <!-- Only to show trashed notes -->
        <div class="notecontainer" *ngIf="selection === 'trash' && note['deleted']">
            <div (click)="renderEditForm(note['id'])">
                <div class="noteheadline">{{ note['title'] }}</div>
                <div class="notedescription">{{ note['description'] }}</div>
            </div>
            <div class="notebottom">
                <div class="noteactionbar">
                    <div (click)="renderEditForm(note['id'])"><img src="/assets/img/edit.png"></div>
                    <div (click)="archiveNote(note['id'])"><img src="/assets/img/archive.png"></div>
                    <div (click)="moveToTrash(note['id'])"><img src="/assets/img/trash.png"></div>
                </div>
                <div class="noteidentifier">Deleted</div>
                <div class="noteidentifier">{{ note['id'] }}</div>
            </div>
        </div>

<!--Dialog including a form to edit the selected note -->
        <div #editform id="editform" class="dialogbg d-none">
            <div class="dialogcontent">
                <input [(ngModel)]="noteheadline" type="text" placeholder="Enter a title">
                <textarea [(ngModel)]="notetext" placeholder="Enter a description" rows="10"></textarea>
                <div class="btn-container"><button (click)="updateNote(note['id'])">Update</button></div>
                <div #closeicon class="close pointer" (click)="editform.classList.add('d-none'); backToList()">Close
                </div>
            </div>
        </div>
    </ng-container>

</div>