.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 80px;
  padding-bottom: 110px;
}

.dialogbg {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.725);
  width: 100%;
  height: 100vh;
  z-index: 99;
}

.dialogcontent {
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 40px 20px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;

  input,
  textarea {
    font-size: 24px;
    font-family: inherit;
    width: calc(90% - 7px);
    border: none;
    resize: none;
    margin-bottom: 5%;

    &:focus-visible {
      outline: none;
    }
  }

  textarea {
    min-height: 100px;
    height:fit-content;
    font-size: 16px;
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 80%;
  }

  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    color: rgb(27, 26, 26);
  }
}

.notecontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
}

.noteheadline {
  font-size: 24px;
  padding: 8px;
}

.notedescription {
  padding: 8px;
}

.notebottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;

  .noteidentifier {
    font-size: 12px;
  }
}

.noteactionbar {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 8px;
  gap: 16px;

  div {
    cursor: pointer;

    img {
      height: 16px;
    }
  }
}

.d-none {
  display: none;
}

@media (min-width: 450px) {
  .dialogbg {
    left: -66px;

    width: 100vw;
  }
}
