

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf');
  }

body {
    position: relative;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

app-root {
    position: relative;
    // min-width: 100vw;
    // min-height: 100vh;
}

app-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 64px;
    z-index: 50;
    width: 100%;
    background-color: white;
    box-shadow:  0px 0px 4px rgba(0, 0, 0, 0.1);
}

app-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 8px;
    height: 64px;
    width: calc(100% - 16px);
    background-color: white;
    z-index: 49;
    box-shadow:  0px 0px 4px rgba(0, 0, 0, 0.1);

    div {
        font-size: 12px;
        cursor: pointer;
        display: flex;
        flex-direction: column;

        img {
            height: 24px;
        }
    }
}


.pointer {
    cursor: pointer;
  }
  
  .d-none {
      display: none;
  }

button {
    min-width: 50%;
    height: 32px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: rgb(231, 231, 231);

    &:hover {
        background-color: rgb(128, 128, 128);
        cursor: pointer;
    }
  }

  @media (min-width: 450px) {
    app-sidebar {
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    position: fixed;
    padding-top: 50px;
    padding-left: 15px;
    top: 64px;
    left: 0;
    height: 100vh;
    width: 50px;
    box-shadow: none;
    }

    app-header {
        padding-left: 50px;
        width: calc(100% - 50px);
    }

    .content {
        padding-top: 100px !important;
        margin-left: 66px;
        padding-bottom: 20px !important;
    }
  }